<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.1.2" targetFramework="net461" />
  <package id="MGS.WebApi.CodeGen.Common" version="2.0.0.61" targetFramework="net461" />
  <package id="MGS.WebApi.SwaggerObjectModel" version="1.0.0.2391" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
</packages>